:root {
    --box-shadow: 0px 1px 4px 1px rgba(199,199,199,1);
    --income: rgb(0, 107, 0);
    --expense: red;
    --balance:#421e5c;
}
.app{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(200, 200, 200, 0.755);
}
.header{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #27215C;
    color: white;
    width: 100%;
}
.header h1{
   margin: 1% 15% 2% 2%;
}
.body {
    letter-spacing: -1px;
    display: flex;
    flex-direction: column;
}

.myrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 390px;
    height: 50%;
}

.mycol {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 1%;
    padding: 1% 3%;
    border-radius: 3px;
}

.mycol h3 {
    margin: 0;
    padding: 0;
}

.col-expense {
    background-color: rgba(164, 74, 74, 0.9);
}
.col-income {
    background-color: rgba(72, 160, 75, 0.9);
}

.col-balance {
    background-color: rgba(138, 63, 148, 0.9);
}

.income-text {
    color: var(--income);
}
.balance-text{
    color: var(--balance);

}

.expense-text {
    color: var(--expense);
    
}

.transactions {
    padding: 0;
    width: 100%;
}
.transactions li {
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;

}

.transactions li div {
    margin-right: 10px;
    background-color: white;
}

.transactions li span {
    display: inline-block;
    margin-right: 10px;
}

.transaction-form {
   margin: 10%;
   text-align: center;
    
}
.transaction-form h2{
    color: #27215C;
}
.chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.ChartT_T{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px   ;
}
.ChartT_T h2{
    color: #27215C;
}
.deleteBtn{
    border-radius: 3px;
    border: 1px solid rgb(109, 101, 101);
}
.deleteBtn:hover{
    background-color: rgba(199, 199, 199, 0.55);
}